@font-face {
    font-family: "Signika-Bold";
    src: url('/frontend/fonts/Brevia-Bold.otf');
}
@font-face {
    font-family: "Signika-Light";
    src: url('/frontend/fonts/Signika-Light.ttf');
}
@font-face {
    font-family: "Signika-Reguler";
    src: url('/frontend/fonts/Signika-Reguler.ttf');
}
@font-face {
    font-family: "Signika-Semibold";
    src: url('/frontend/fonts/Signika-Semibold.ttf');
}

body {
	font-family: 'Signika-Semibold', sans-serif;
	color: #fff;
	background: url("/frontend/img/bg-pattern.jpg") repeat;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #fff; 
   
}
 
::-webkit-scrollbar-thumb {
    
    background-color: #ee363e;
    outline: 1px solid #ee363e;
}

a { color: #fff; }
a:hover {color:#e02128;}

.modal a { color: #e02128; }
.modal a:hover {color:#e02128;}

footer {
	text-align: center;
	color: #fff;
}

footer a { color: #fff; }
footer a:hover,
footer a:focus {
	color: #e02128;
	text-decoration: none;
}
*:focus {outline:none}
*:focus {outline:none !important}

.kv img {
	width: 100%;
	cursor: pointer;
}

.desc h3{
	line-height: 1.5em;
}

.desc h3 span {
	color: #e02128;
	font-family: "Signika-Bold";
	font-size: 1.5em;
}

.btn-green {
	background: #81b036;
	border-radius: 30px;
	padding: 20px;
	width: 200px;
}

.btn-blue {
	background: #00a8ff;
	border-radius: 30px;
	padding: 20px;
	width: 200px;
}

.clear {height: 100px;}

#videoModal .modal-content {
    position: relative;
    background: url("../../frontend/img/bg-pattern-white.jpg") repeat;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-content {
    position: relative;
    background-color: #fff;
    /* -webkit-background-clip: padding-box; */
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    color: #333;
    padding: 15px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-header {
    padding: 0;
    border: none;
}

.modal-title {color: #e02128;}

.modal-body iframe {
	width: 100%;
	height: 450px;
}

.modal-footer {
	background: #f7bf00;
}

.gallery {
	background: transparent;
	color: #e02128;
	cursor: pointer;
}

.video-thumbnail {
	width: 100%; 
	max-height: 180px; 
	min-height: 180px;
	border-radius: 10px;
}

.overlay-play-btn {
	position: absolute;
	top: 22%;
	left: 42%;
	cursor: pointer;
}

.video-desc { 
	color: #fff;	
}

#red-panel {
	background: url('/frontend/img/bg-pattern-red.jpg') repeat;
	border-radius: 10px;
	padding: 10px 40px;
}

#white-panel {
	background: #fff;
	border-radius: 10px;
	padding: 10px 40px;
}

#white-panel-profile {
	margin-top: 20px;
	margin-bottom: 20px;
	background: #fff;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px 40px;
}


.panel-title {
	text-align: center;
	margin-bottom: 30px;
	font-family: "Signika-Semibold";
}

.panel-title-red {
	color: #e02128;
	text-align: center;
	margin-bottom: 30px;
	font-family: "Signika-Bold";
}

.panel-title-yellow {
	color: #f7bf00;
	text-align: center;
	margin-bottom: 30px;
	font-family: "Signika-Bold";
}

#white-panel .panel-title {
	text-align: center;
	margin-bottom: 30px;
	color: #e02128;
	font-family: "Signika-Bold";
}

.btn-yellow {
	background: #c0e300;
	color: #fff;
	padding: 15px 80px;
	border-radius: 25px;
	margin: 20px;
}

.floating-image .olympic-playground {
	position: absolute;
	top: 0;
	left: -15%;
}

.floating-image .cloud-1 {
	position: absolute;
	top: 20px;
	right: -10%;
}

.floating-image .cloud-2 {
	position: absolute;
	bottom: 5%;
	left: -20%;
}

.floating-image .cloud-3 {
	position: absolute;
	bottom: 20px;
	right: -10%;
}

.floating-image-gallery .cloud-2 {
	position: absolute;
	bottom: -40%;
	left: -20%;
}

.floating-image-gallery .cloud-3 {
	position: absolute;
	bottom: -30%;
	right: -10%;
}

.step {
	margin-top: 50px;
	color: #9e7900;
}

.step span {
	color: #f0b800;
	background: #9e7900;
	padding: 20px 25px;
	border-radius: 50%;
}

.step span.active {
	color: #e02128;
	font-weight: bold;
	background: #fff;
}

.step .active {
	color: #fff;
	font-weight: bold;
}

.step span.done {
	background: #81b036;
	color: #fff;
	font-weight: bold;
}

.step span.done img {width: 15px;}

.step .dot {
	position: absolute;
	top: 5px;
	left: 80%;
}

.upload-video-thumbnail {width: 100%; border: 3px solid #fff; border-radius: 10px;}

.btn-twitter {
	background: #5ea9dd;
	color: #fff;
	padding: 15px 50px;
	border-radius: 25px;
	margin: 20px;
}

.btn-facebook {
	background: #3b5998;
	color: #fff;
	padding: 15px 50px;
	border-radius: 25px;
	margin: 20px;
}

#white-panel .how-to-desc img {width: 100%; padding: 5% 25%;}
#white-panel .how-to-desc {
	color: #7d7d7d;
	font-size: 1.2em;
}

#white-panel .how-to-desc span {
	color: #d68d00;
	font-family: "Signika-Bold";
}

#white-panel .how-to-footer {
	font-family: "Signika-Light";
	color: #7d7d7d;
	margin: 10% 0;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-radius: 50%;
    background: url('/frontend/img/bg-pattern-red.jpg') repeat;
    margin: 0 10px;
    border: none;
    color: #fff;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #e02128;
    text-decoration: none;
    background: #fff;
    margin: 0 5px;
    border-radius: 50%;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
	margin-left: 0;
    border-radius: 50%;
    background: url('/frontend/img/bg-pattern-red.jpg') repeat;
    margin: 0 10px;
    border: none;
    color: #fff;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: pointer;
    border: none;
    background: url('/frontend/img/bg-pattern-red.jpg') repeat;
}

button.closed {
    cursor: pointer;
    background: #e02128;
    border: 0;
    padding: 10px;
    position: absolute;
    right: -15px;
    top: -15px;
}

.closed {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}

.form-control-search {
    border-bottom: 2px solid #e02128;
    color: #e02128;
    background: transparent;
    width: 100%;
    padding: 2%;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-control-search::-webkit-input-placeholder { color: white; }
.form-control-search:-moz-placeholder { color: white; }
.form-control-search::-moz-placeholder { color: white; }
.form-control-search:-ms-input-placeholder { color: white; }

.icon-search {
	width: 50px;
	cursor: pointer;
	display: inline-block;
}

.profile {margin-top: 50px;}
.profile img {
	max-width: 100px;
	max-width: 100px;
	min-height: 100px;
	min-width: 100px;
}
.profile-desc {font-family: "Signika-Bold";}
.profile-desc span {
	font-family: "Signika-Light";
}

#gallery-profile .video-desc {
	color: #e02128;
}

#gallery-profile .video-thumbnail {
	width: 100%; 
	max-height: 180px; 
	min-height: 100px;
	border-radius: 5px;
}

#gallery-profile .overlay-play-btn {
    position: absolute;
    top: 15%;
    left: 37%;
    cursor: pointer;
}

.top-icon-profile {
	color:#e02128;
}

.top-icon-profile img {width: 40px;}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.datepicker > div {
    display: none;
    background: rgba(0,0,0,0.8);
}  

#loading {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 30%;
    color: #fff;
    text-align: center;
    z-index: 99999;
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	#home-mobile {display: block;}
	#home-desktop {display: none;}
    .navbar-brand-mobile {
	    display: block;
	    width: 150px;
	    margin-left: -5px;
	    margin-top: -5px;
	}

	.navbar-brand>img {
	    display: block;
	    width: 100%;
	}
    .navbar-brand-desktop img {display:none;}

	.navbar .navbar-nav {
	    display: inline-block;
	    float: none;
	}

	.navbar .navbar-collapse {
	    text-align: center;
	}

	.navbar-default {
	    background-color: #fff;
	    border-color: #fff;
	}
	
	.kv {margin-top: -20px;}
	.kv img {
		width: 100%;
		cursor: pointer;
    }

    .kv-cop-desktop {display: none;}

    .desc h5{
		line-height: 1.3em;
	}

	.desc h5 span {
		color: #e02128;
		font-family: "Signika-Bold";
		/*font-size: 1.5em;*/
	}

	#home-mobile .btn-green {
	    background: #81b036;
	    border-radius: 25px;
	    padding: 12px;
	    width: 100%;
	}

	#home-mobile .btn-blue {
	    background: #00a8ff;
	    border-radius: 25px;
	    padding: 12px;
	    width: 100%;
	}
	
	.modal-body {
	    position: relative;
	    padding: 15px 0 0 0;
	}

	.modal-body iframe {
		width: 100%;
		height: 250px;
	}

	footer {
	    text-align: center;
	    color: #fff;
	    padding: 20px 10px 10px 10px;
	    font-size: 0.6em;
	}

	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	    color: #555;
	    background-color: #f7bf00;
	    /* width: 100%; */
	}

	.floating-image {display: none;}

	#white-panel .how-to-desc img {width: 100%; padding: 5% 25%;}
	#white-panel .how-to-desc {
		color: #7d7d7d;
		font-size: 1em;
	}

	.olympic-playground-mobile {display: block;}
	.olympic-playground-mobile>img {width: 100%; padding: 0 15%;}
	.floating-image-gallery {display: none;}
	.clear {display: none;}
	.video-thumbnail {
	    width: 100%;
	    max-height: 100px;
	    min-height: 100px;
	    border-radius: 10px;
	}
	.overlay-play-btn {
	    position: absolute;
	    top: 10%;
	    left: 30%;
	    cursor: pointer;
	}
	.video-desc {
	    color: #fff;
		font-family: 0.7em;	
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	#home-mobile {display: none;}
	#home-desktop {display: block;}
	.navbar .navbar-nav {
	    display: inline-block;
	    float: none;
	}

	.navbar .navbar-collapse {
	    text-align: center;
	}

	.navbar-default {
	    background-color: #fff;
	    border-bottom: 2px solid #ff0000;
	}
	
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	    color: #f00;
	    background-color: transparent;
	    border-bottom: 2px solid #f00;
	}

	.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	    color: #f00;
	    /*background-color: transparent;*/
	    /*border-bottom: 2px solid #f00;*/
	}
	
	.navbar-default .navbar-nav>li>a {
	    color: #f00;
		padding: 30px 20px 30px 20px;
	}

	.navbar-brand-mobile {display:none;}
    .navbar-brand-desktop img {display:block; width: 100%; border:none;}

    .kv-cop-desktop {display: block;}
	
	footer {font-size: 1em; margin-top: 50px;}
    footer a { color: #fff; font-size: 1em;}
	footer a:hover,
	footer a:focus {
		color: #e02128;
		text-decoration: none;
	}

	.olympic-playground-mobile {display: none;}

	.video-thumbnail {
		width: 100%; 
		max-height: 180px; 
		min-height: 180px;
		border-radius: 10px;
	}

	.overlay-play-btn {
		position: absolute;
		top: 22%;
		left: 42%;
		cursor: pointer;
	}
}